body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 20px;
}

#habitList {
  list-style: none;
  padding: 0;
}

#habitList li {
  background: #e0f7fa;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}

.reload {
  font-family: Lucida Sans Unicode
}

