<!DOCTYPE html>
<html>
    <head>
        <title>Habit Tracker</title>
    </head>
    <body>
        <h1>Welcome to my Habit Tracker</h1>

        <h2>Habit List</h2>
        <div id="habitList">
            Here is where habits will be displayed
        </div>

        <h2>New Habit Input</h2>
        <form id="habitForm">
            <input id="habitInput" type="text" placeholder="Add new habit">
            <button type="submit">Add</button>
        </form>
    </body>
</html>

<script src="/static/script.js"></script>